@page "/"
@inject test test

<h1>Hello, world!</h1>

@echo

@code {
    string? echo;
    protected override async Task OnInitializedAsync()
    {
        echo = await test.echo("ts interop test");
    }
}